.options-card-style {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-style {
    border-radius: 20px;
    opacity: 0.90;
}

.to-delete {
    color: #6b003e;
}

.alert-delete-style {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
    color: red;
}

.btn-alert-style {
    margin-top: 10px;
}

.count-to-confirm-style {
    color: #4b4eab;
}

.unvalidated-style {
    color: red;
}

.validated-style {
    color: green;
}

.div-setting-style p {
    font-weight: bold;
}

.form-table-style {
    border-spacing: 2px;
}

.form-table-style td {
    width: 500px;
}

.form-table-style th {
    padding-bottom: 8px;
    line-height: 3.2;
    width: 150px;
    vertical-align: top;
    text-align: left;
}

.form-table-style tr {
    display: table-row;
}