.style-main-wrapper {
    min-width: 250px;
    max-width: 400px;
}

.options-card-style {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-style {
    border-radius: 20px;
    opacity: 0.90;
}

.to-delete {
    color: #6b003e;
}

.alert-delete-style {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
}

.count-to-confirm-style {
    color: #4b4eab;
}

.unvalidated-style {
    color: red;
}

.validated-style {
    color: green;
}

.div-setting-style p {
    font-weight: bold;
}